
body{
    background: url('../graphicWork/background.jpg') repeat; 
    background-size: 30%;
}

/**TEXT*/
p, label
{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: beige;
}

h1
{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: beige;    

}
img{
    width: 10vw;
}

/**INPUT BOX*/
#openBoxBT
{
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 1.5rem;
    background-color: rgb(19, 19, 19);
    border: .5px solid beige;
    border-radius: 1rem;
}


/**BUTTONS*/
button
{
    background-color: rgb(19, 19, 19);
    border: .5px solid beige;
    border-radius: 1rem;
    color: beige;
}

/**SIGN BOX*/

#signTemplate, #signFormDiv
{
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 1.5rem;
    background-color: rgb(19, 19, 19);
    border: .5px solid beige;
    border-radius: 1rem;
}

/**GRID**/
/**Mobile (first, as always!)**/

#inputBox {
    grid-area: inputBox;
  }
#header{
    grid-area: header;
}
#description{
    grid-area: description;
}
#element{
    grid-area: element;
}
#planet{
    grid-area: planet;
}
#color{
    grid-area: Zcolor;
}

.gridInp {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 90vh; 
    grid-template-areas: 'inputBox';
    justify-items: center;
    align-items: center;
    }

#gridResult{

    display: flex;
    flex-flow: column wrap;
    padding: 1.5rem;
    background-color: rgb(19, 19, 19);
    border: .5px solid beige;
    border-radius: 1rem;
    height: auto;
    justify-items: center;
    align-items: center;
}

li{
    display: inline;
    float: left;
}

#box{
    width: 70vw;
}